<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>ShoppingServlet</servlet-name>
		<servlet-class>com.Shopping.AddProductServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShoppingServlet</servlet-name>
		<url-pattern>/addProduct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.Shopping.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/nimda</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BackServlet</servlet-name>
		<servlet-class>com.Shopping.BackServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BackServlet</servlet-name>
		<url-pattern>/kcab</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>googleS</servlet-name>
		<servlet-class>com.Shopping.GoogleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>googleS</servlet-name>
		<url-pattern>/google</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.Shopping.MainServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
